{#include base.html }
  {#title}CDs{/title}

  <table class="table table-striped table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cover</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
    </tr>
    </thead>
    <tbody>
    {#for book in books}
      <tr>
        <th scope="row">{book.id}</th>
        <td><img src="{book.smallImageURL}" alt="{book.title}"></td>
        <td>{book.title}</td>
        <td>{book.category.name}</td>
      </tr>
    {/for}
    </tbody>
  </table>

{/include}
