services:
  postgresql:
    image: postgres:17.5
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - ./db-init/initialize-databases.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  qdrant:
    image: docker.io/qdrant/qdrant:v1.13.6
    container_name: qdrant
    ports:
      - 6333:6333
      - 6334:6334
    volumes:
      - .qdrant:/qdrant/storage:z

  redis:
    image: redis:8.2.0-alpine
    container_name: redis
    hostname: redis
    ports:
      - '6379:6379'

  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8089:8081"

  mcp-currency:
    image: vintagestore/mcp-currency:latest
    container_name: mcp-currency
    ports:
      - 8780:8780

networks:
  vintage-store-network:
    driver: bridge
