services:
  redis:
    image: redis:8.2.0-alpine
    container_name: redis
    hostname: redis
    ports:
      - '6379:6379'

  redis-commander:
    container_name: redis-commander
    hostname: redis-commander
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8089:8081"

