<!DOCTYPE html>
<html lang="en">
<head>
  <title>{#insert title}Default Title{/}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="screen" href="/_static/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" media="screen" href="/_static/bootstrap-icons/font/bootstrap-icons.css">
  <script src="/_static/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript" charset="UTF-8"></script>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Vintage Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/view/books">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/cds">CDs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="termsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Terms</a>
            <ul class="dropdown-menu" aria-labelledby="termsDropdown">
              <li><a class="dropdown-item" href="/static/terms/acceptable-use-policy.pdf" type="application/pdf">Acceptable Use Policy</a></li>
              <li><a class="dropdown-item" href="/static/terms/disclaimer.pdf" type="application/pdf">Disclaimer</a></li>
              <li><a class="dropdown-item" href="/static/terms/end-user-license-agreement.pdf" type="application/pdf">End User License Agreement</a></li>
              <li><a class="dropdown-item" href="/static/terms/privacy.pdf" type="application/pdf">Privacy</a></li>
              <li><a class="dropdown-item" href="/static/terms/terms.pdf" type="application/pdf">Terms</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/q/dev-ui/extensions">Dev UI</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit">Chat</button>
        </form>
      </div>
    </div>
  </nav>

  {#insert}No body!{/}
</div>
</body>
</html>
